<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>吳佳哲簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#000000; font-size:60px;}
		h2 {color:#000000; font-size:40px;}
	</style>

</head>
<body>
	<table width="70%">
		<tr>
				<td>
					<img src="123456.jfif"></img>
				</td>

				<td>
					<h1>吳佳哲</h1>
					<h2>Wu cc</h2>
				</td>
		</tr>
	</table>

	<table width="70%"border="1">
		<tr>
			<td>
				<h4><a href="https://www.youtube.com/">https://www.youtube.com/</a><br></h4>
			</td>
			<td>
				<audio controls>
					<source src="elephant.mp3" type="audio/mP3">
				</audio><br>
			</td>
			<td>
				版本答案<br>
				<iframe src="https://www.youtube.com/embed/UDcmsXMlbRo" allowfullscreen></iframe>
			</td>
		</tr>
	</table>

</body>
</html>